:root {
  --light-color: #fff;
  --danger-color: #d35d6e;
  --success-color: #5aa469;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./images/pexels-pixabay-45238.jpg");
}

main {
  flex: 1 0 auto;
}

h1, nav ul li a{
  color: black;
  font-family: 'Sansita Swashed', cursive;
} 

h2, h3, h4 {
  font-family: 'Fira Sans', sans-serif;
}

i {
  color: black;
}

img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  padding: 20px
}

input[type=text] {
  text-transform: capitalize;
}

.gift-font {
  color: black;
  font-family: 'Sansita Swashed', cursive;
} 

.main-container {
  min-height: 60vh;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff
}

.alert-success {
  background: var(--success-color);
  color: #fff
}

.transparentBG {
  background-color: rgba(0,0,0,0);
}

.page-footer {
  background-color: rgba(0,0,0,0) !important;
}

.brand-logo {
  padding-left: 12px !important;
}